<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/bundle.js" defer></script>

  <title><%= title %> </title>
  <link rel="icon" href="/images/icon.png" type="image/png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <header class="header">
    <a class="logo-icon__wrapper" href="/">
      <picture>
        <source srcset="/images/icon.webp" type="image/webp">
        <source srcset="/images/icon.png" type="image/png">
        <img class="header__icon" src="/images/icon.png" alt="icon">
      </picture>
      <picture>
        <source srcset="/images/logo.webp" type="image/webp">
        <source srcset="/images/logo.png" type="image/png">
        <img class="header__logo" src="/images/logo.png" alt="logo">
      </picture>
    </a>

    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-list-item"><a class="nav-link" href="/">Home</a></li>
        <li class="header__nav-list-item"><a class="nav-link" href="/category">categories</a></li>
        <li class="header__nav-list-item"><a class="nav-link" href="/location">locations</a></li>
        <li class="header__nav-list-item"><a class="nav-link" href="/inventory">inventory</a></li>
        <li class="header__nav-list-item"><a class="nav-link" href="/equipment">equipments</a></li>
        <li class="header__nav-list-item">
          <a class="nav-link new-link" href="#">New <img class="nav-link__down-arrow" src="/images/down-arrow.svg" alt=""></a>
          <ul class="header__nav-list-item-dropdown">
            <h2 class="dropdown__list-header">
              Create new
            </h2>
            <li class="header__nav-list-item-dropdown-item"><a href="/category/create">category</a></li>
            <li class="header__nav-list-item-dropdown-item"><a href="/location/create">location</a></li>
            <li class="header__nav-list-item-dropdown-item"><a href="/equipment/create">equipment</a></li>
            <li class="header__nav-list-item-dropdown-item"><a href="/inventory/create">inventory</a></li>
          </ul>
        </li>

      </ul>
    </nav>
    <nav class="header-mobile-nav">
      <header class="header-mobile-nav__header">
        <a href="/">
          <picture>
            <source srcset="/images/logo.webp" type="image/webp">
            <source srcset="/images/logo.png" type="image/png">
            <img class="mobile-header__logo" src="/images/logo.png" alt="logo">
          </picture>
        </a>
        <button class="mobile-header__close-btn">
          <img class="mobile-header__close-btn-img" src="/images/close.svg" alt="close">
        </button>
      </header>
      <ul class="mobile-nav__link-list">
        <h2 class="mobile-nav__link-list-header">
          Navigation
        </h2>
        <li class="mobile-nav__list-item">
          <a class="mobile-nav-link" href="/">home</a>
        </li>
        <li class="mobile-nav__list-item">
          <a class="mobile-nav-link" href="/category">categories</a>
        </li>
        <li class="mobile-nav__list-item">
          <a class="mobile-nav-link" href="/location">locations</a>
        </li>
        <li class="mobile-nav__list-item">
          <a class="mobile-nav-link" href="/inventory">inventory</a>
        </li>
        <li class="mobile-nav__list-item">
          <a class="mobile-nav-link" href="/equipment">equipments</a>
        </li>
      </ul>
      <ul class="mobile-nav__link-list">
        <h2 class="mobile-nav__link-list-header">
          Create new
        </h2>
        <li class="mobile-nav__list-item">
          <a class="mobile-nav-link" href="/category/create">category</a>
        </li>
        <li class="mobile-nav__list-item">
          <a class="mobile-nav-link" href="/location/create">location</a>
        </li>
        <li class="mobile-nav__list-item">
          <a class="mobile-nav-link" href="/equipment/create">equipment</a>
        </li>
        <li class="mobile-nav__list-item">
          <a class="mobile-nav-link" href="/inventory/create">inventory</a>
        </li>
      </ul>
    </nav>
    <button class="toggle-nav-btn">
      <img class="toggle-nav-btn__img" src="/images/bars.svg" alt="toggle">

    </button>
  </header>